<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chars=UTF-8" />
        <title>My Restaurant</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
<!--                <li><a th:href="@{/carte}">Notre carte</a></li>-->
                <li><a th:href="@{/admin}">Administrateur</a></li>
            </ul>
        </header>
        <div>
            <h1>Détail de ma carte : <span th:text="${carte.name}"></span></h1>
            <h2>Liste des menus : </h2>
            <ul th:each="menu : ${carte.menu}">
                <li th:text="${menu.name}"></li>
            </ul>
        </div>

        <ul>
            <li><a th:href="@{/admin/carte}">Gêrer mes cartes</a></li>
        </ul>
     </body>
</html>
