<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
<div th:replace="~{parts/header :: header}"></div>
    <div class="container">
        <h1>Mon espace administrateur : carte</h1>

        <button>
            <a th:href="@{/admin/carte/ajout}">Ajouter une carte</a>
        </button>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Voir</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="carte : ${cartes}">
                <th th:text="${carte.name}"></th>
                <th>
                    <a th:href="@{/admin/carte/{id}(id=${carte.id})}">Voir</a>
                </th>
                <th>
                    <a th:href="@{/admin/carte/update/{id}(id=${carte.id})}">Modifier</a>
                 </th>
                <th>
                    <a th:href="@{/admin/carte/delete/{id}(id=${carte.id})}">Supprimer</a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
     </body>
</html>
