<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chars=UTF-8" />
        <title>My Restaurant</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
<!--                <li><a th:href="@{/carte}">Notre carte</a></li>-->
                <li><a th:href="@{/admin}">Administrateur</a></li>
            </ul>
        </header>
        <h1>Mon espace administrateur</h1>

        <ul>
            <li><a th:href="@{/admin/config/detail/1}">Voir ma config</a></li>
            <li><a th:href="@{/admin/carte}">Gérer ma carte</a></li>
            <li><a th:href="@{/admin/menu}">Gêrer mes menus</a></li>
            <li><a th:href="@{/admin/plat}">Gêrer mes plats</a></li>
        </ul>
     </body>
</html>
