<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div class="container">
        <h1> Plat : <span th:text="${plat.name}"></span></h1>

        <div class="card mb-3">
            <img th:src="${plat.photosImagePath}" />
            <div class="card-body">
                <h5 class="card-title" th:text="${plat.name}"></h5>
                <p><span class="card-text" th:text="${plat.description}"></span></p>
                <p>Allergènes : <span class="card-text" th:text="${plat.alergenes}"></span></p>
            </div>
        </div>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

</body>
</html>
