<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; chars=UTF-8" />
    <title>My Restaurant</title>
</head>
<body>

    <h1>Créer un nouveau menu : </h1>

    <form action="#" th:action="@{/admin/menu/ajout}" th:object="${menu}" method="post">
        <label for="name">Nom du menu : </label>
        <input type="text" th:field="*{name}" id="name" placeholder="Le classic">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

        <label for="prix">Prix en € : </label>
        <input type="number" th:field="*{prix}" id="prix" >
        <span th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></span>

        <select th:field="*{carte}" class="form-control" multiple>
            <option th:each="carte: ${cartesList}" th:value="${carte.id}" th:text="${carte.name}"></option>
        </select>

        <input type="submit" value="Créer">
    </form>
</body>
</html>
