<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div class="container">
        <h1>Detail de mon menu : <span th:text="${menu.name}"></span></h1>

        <div class="card">
            <div class="card-header">
                <h3>Menu <span th:text="${menu.name}"></span></h3>
                <h4>Prix : <span th:text="${menu.prix}"></span></h4>
            </div>
            <ul class="list-group list-group-flush" th:each="plat : ${menu.plat}">
                <li class="list-group-item"><p><span th:text="${menu.name}"></span></p></li>
            </ul>
        </div>

        <button><a th:href="@{/admin/menu}">Gêrer mes menus</a></button>

    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

</body>
</html>
