<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div class="container">
        <h1>Modifier mon menu : <span th:text="${menu.name}"></span></h1>

        <form action="#" th:action="@{/admin/menu/update/{id}(id=${menu.id})}" th:object="${menu}" method="post">

            <div class="input-group mb-3">
                <label for="name" class="input-group-text" id="basic-addon1">Nom du menu : </label>
                <input  aria-label="Nom du menu" class="form-control" aria-describedby="basic-addon1" type="text" th:field="*{name}" id="name" placeholder="Gourmandises">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="input-group mb-3">
                <label for="prix" class="input-group-text" id="basic-addon1">Prix du menu : </label>
                <input  aria-label="Prix" class="form-control" aria-describedby="basic-addon1" type="number" th:field="*{prix}" id="prix">
                <span th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></span>
            </div>

            <div>
                <select th:field="*{carte}" class="form-control" multiple>
                    <option th:each="carte: ${cartesList}" th:value="${carte.id}" th:text="${carte.name}"></option>
                </select>
            </div>

            <input type="submit" value="Sauvegarder">
        </form>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

</body>
</html>
