<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div class="container">
        <h1>Carte  <span th:text="${carte.name}"></span></h1>
        <div class="card">
            <div class="card-header">
                <h2>Liste des menus : </h2>
            </div>
            <ul class="list-group list-group-flush" th:each="menu : ${carte.menu}">
                <li class="list-group-item"><p><span th:text="${menu.name}"></span> <span><a class="btn btn-primary" th:href="@{/menu/{id}(id=${menu.id})}">Voir</a></span></p></li>
            </ul>
        </div>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

</body>
</html>
