<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>

    <div class="container">
        <h1>Detail de ma config </h1>
        <div class="card">
            <div class="card-body">
                <p>Nom : <span th:text="${config.name}"></span></p>
                <p>Email : <span th:text="${config.email}"></span></p>
                <p>URL : <span th:text="${config.url}"></span></p>
                <p>Téléphone fix : <span th:text="${config.numberFix}"></span></p>
                <p>Téléphone portable : <span th:text="${config.numberPort}"></span></p>
                <p>Adresse : <span th:text="${config.adresse}"></span></p>
                <p>Ville : <span th:text="${config.ville}"></span></p>
                <p>Code postale : <span th:text="${config.cp}"></span></p>
            </div>
        </div>

        <img th:src="${config.photosImagePath}" alt="ma bannière"/>

        <div>
            <button><a th:href="@{/admin/config/edit/1}">Editer ma config</a></button>
        </div>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

</body>
</html>
