<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; chars=UTF-8" />
    <title>My Restaurant</title>
</head>
<body>
<header>
    <ul>
        <li><a th:href="@{/}">Accueil</a></li>
        <!--                <li><a th:href="@{/carte}">Notre carte</a></li>-->
        <li><a th:href="@{/admin}">Administrateur</a></li>
    </ul>
</header>
<h1>Detail de ma config </h1>

<div>
    <ul>
        <li th:text="${config.name}"></li>
        <li th:text="${config.email}"></li>
        <li th:text="${config.url}"></li>
        <li th:text="${config.numberFix}"></li>
        <li th:text="${config.numberPort}"></li>
        <li th:text="${config.adresse}"></li>
        <li th:text="${config.ville}"></li>
        <li th:text="${config.cp}"></li>
    </ul>
    <img th:src="${config.photosImagePath}" />
</div>

<p><a th:href="@{/admin/config/edit/1}">Editer ma config</a></p>

</body>
</html>
