<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; chars=UTF-8" />
    <title>My Restaurant</title>
</head>
<body>
<ul>
    <li><a href="https://allergies.afpral.fr/allergie/en-savoir-plus-sur-les-allergies/alimentaires/89-liste-des-14-allergenes-alimentaires-majeurs" target="_blank">Liste des alergènes</a></li>
</ul>
<form action="#" th:action="@{/admin/plat/ajout}" th:object="${plat}" method="post">
    <label for="name">Nom du plat : </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Pigeon rôti à la broche, cuisses confites en tartelette d’Automne">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="description">Description : </label>
    <textarea  rows="20" cols="80" th:field="*{description}"  id="description" >... </textarea>
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <label for="alergenes">Alergènes : </label>
    <input type="text" th:field="*{alergenes}" id="alergenes">
    <span th:if="${#fields.hasErrors('alergenes')}" th:errors="*{alergenes}"></span>


    <label for="prix">Prix en € : </label>
    <input type="number" th:field="*{prix}" id="prix" >
    <span th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></span>


    <label for="photo">Image pour le plat : </label>
    <input type="file" th:field="*{photo}" id="photo">
    <span th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></span>

    <input type="submit" value="Créer">
</form>
</body>
</html>
