<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chars=UTF-8" />
        <title>My Restaurant</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
<!--                <li><a th:href="@{/carte}">Notre carte</a></li>-->
                <li><a th:href="@{/templates/admin/config}">Administrateur</a></li>
            </ul>
        </header>
        <h1 th:text="${plat.name}"></h1>
        <div>
            <div>Prix : <span th:text="${plat.prix}"></span></div>
            <div>Description : <span th:text="${plat.description}"></span></div>
            <div>Alergène : <span th:text="${plat.alergenes}"></span></div>
            <div>Photo : <span></span></div>
        </div>

        <ul>
            <li><a th:href="@{/admin/plat}">Gêrer mes plats</a></li>
        </ul>
     </body>
</html>
