<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div class="container">
        <div class="card mb-3">
            <img th:src="${plat.photosImagePath}" alt="image de mon plat"/>
            <div class="card-body">
                <h5 class="card-title" th:text="${plat.name}"></h5>
                <p><span class="card-text" th:text="${plat.description}"></span></p>
                <p>Allergènes : <span class="card-text" th:text="${plat.alergenes}"></span></p>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-primary"><a th:href="@{/admin/plat}">Gêrer mes plats</a></button>
        </div>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

</body>
</html>
