<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div class="container">

        <h1> Modifier mon plat : <span th:text="${plat.name}"></span></h1>
        <button><a href="https://allergies.afpral.fr/allergie/en-savoir-plus-sur-les-allergies/alimentaires/89-liste-des-14-allergenes-alimentaires-majeurs" target="_blank">Liste des alergènes</a></button>
        <form action="#" th:action="@{/admin/plat/update/{id}(id=${plat.id})}" th:object="${plat}" method="post" enctype="multipart/form-data" >

            <div class="input-group mb-3">
                <label for="name" class="input-group-text" id="basic-addon1">Nom du plat : </label>
                <input  aria-label="Nom du plat" class="form-control" aria-describedby="basic-addon1" type="text" th:field="*{name}" id="name" placeholder="Tarte citron">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="input-group">
                <label for="description" class="input-group-text">Description</label>
                <textarea class="form-control" aria-label="With textarea" th:field="*{description}"  id="description"></textarea>
            </div>

            <div class="input-group mb-3">
                <label for="alergenes" class="input-group-text" id="basic-addon1">Allergènes</label>
                <input  aria-label="Allergènes" class="form-control" aria-describedby="basic-addon1" type="text" th:field="*{alergenes}" id="alergenes" placeholder="viande, poisson, peuf, lait">
                <span th:if="${#fields.hasErrors('alergenes')}" th:errors="*{alergenes}"></span>
            </div>

            <div class="input-group mb-3">
                <label for="prix" class="input-group-text" id="basic-addon1">Prix du menu : </label>
                <input  aria-label="Prix" class="form-control" aria-describedby="basic-addon1" type="number" th:field="*{prix}" id="prix">
                <span th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></span>
            </div>
            
            <div class="input-group flex-nowrap">
                <label class="input-group-text"  id="addon-wrapping" for="photo">Image pour le plat : </label>
                <input class="form-control" aria-describedby="addon-wrapping" type="file" name="image" id="photo" accept="image/png, image/jpeg">
                <span th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></span>
            </div>

            <div>
                <select th:field="*{menu}" class="form-control" multiple>
                    <option th:each="menu: ${menuList}" th:value="${menu.id}" th:text="${menu.name}"></option>
                </select>
            </div>

            <input type="submit" value="Sauvegarder">
        </form>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

</body>
</html>
