<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div>
        <h1>Bienvenu chez <span th:text="${config.name}"></span></h1>
        <img th:src="${config.photosImagePath}" />

        <div>
            <h2>Information de contact</h2>
            <ul>
                <li th:text="${config.email}"></li>

                <li th:text="${config.numberFix}"></li>
                <li th:text="${config.numberPort}"></li>

                <li th:text="${config.adresse}"></li>
                <li th:text="${config.ville}"></li>
                <li th:text="${config.cp}"></li>
            </ul>
        </div>

        <h2>Nos derniers avis</h2>

        <ul>
            <li th:each="a : ${avis}"><span th:text="${a.message}"></span></li>
        </ul>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

    </body>
</html>
