<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; chars=UTF-8" />
        <title>My Restaurant</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/avis/ajout}">Ajouter un avis</a></li>
                <li><a th:href="@{/admin}">Administrateur</a></li>
            </ul>
        </header>
        <h1>Page d'accueil</h1>
    </body>
</html>
