<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: head}"></head>

<body>
    <div th:replace="~{parts/header :: header}"></div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Menu <span th:text="${menu.name}"></span></h1>
                <p>Prix : <span th:text="${menu.prix}"></span>€</p>
            </div>
            <ul class="list-group list-group-flush" th:each="plat: ${menu.plat}">
                <li class="list-group-item"><p><span th:text="${plat.name}"></span> <span><a th:href="@{/plat/{id}(id=${plat.id})}">Voir</a></span></p></li>
            </ul>
        </div>
    </div>

    <div th:replace="~{parts/footer :: footer}"></div>

     </body>
</html>
